body {
    width: 100%;
    max-width: 60rem;
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main, header, footer {
    padding: 1rem;
}

main {
    border-top: black solid 1px;
    border-bottom: black solid 1px;
}

label {
    margin-right: 0.5rem;
}

section {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

h2 {
    font-size: larger;
}

.instructions {
    font-style: italic;
}
